@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-background: #0A0A0A;
  --color-foreground: #EDEDED;
  --color-primary: #3B82F6;
}

body {
  @apply bg-zinc-950 text-gray-100 antialiased selection:bg-blue-500/30;
}

/* Custom Utilities for elegant glows */
@utility glow-blue {
  box-shadow: 0 0 40px -10px rgba(59, 130, 246, 0.3);
}